
/* Main Dashboard Container */
.dashboard-container {
    font-family: Arial, sans-serif;

  }
  .dash-title{
    margin: 0 10px;
  }
  /* Widgets Section */
  .empty-state-message{
    padding-top:20px ;
  }
  .widgets-category-row{
    display: flex;
    margin: 0 20px;
    border-bottom: 1px solid #ccc;
  }
  .category-title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
  }
  .widgets-section {
    display: flex;
    padding: 0 10px;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 10px; /* Adjust gap between widgets */
    margin: 0 -10px;
  }
  
  /* Widget Card Styling */
  .widget-card {
    width: 250px; /* Fixed width for each widget */
    box-sizing: border-box;
    margin: 0; /* No margin around the widget */
    padding: 10px; /* Padding inside the widget card */
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .widget-card h3 {
    margin: 0 0 10px;
    font-size: 16px;
  }
  
  .widget-card p {
    margin: 0 0 15px;
    font-size: 14px;
    color: #333;
  }
  
  .remove-widget-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: #ff4d4d;
    cursor: pointer;
    font-size: 18px;
  }
  
  